asgiref
certifi
chardet
Django
django-appconf
django-ckeditor
django-debug-toolbar
django-js-asset
django-select2
django-tinymce
djangorestframework
docopt
idna
mysqlclient
phonenumbers
Pillow
pipreqs
pytz
requests
shortuuid
sqlparse
urllib3
yarg