bpython==0.22.1
brotli==1.0.9
cffi==1.15.0
ConfigParser==5.2.0
coreschema==0.0.4
cryptography==36.0.2
cx_Oracle==8.3.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==4.11.3
ipaddr==2.2.0
ipdb==0.13.9
ipython==8.2.0
keyring==23.5.0
lxml==4.8.0
Markdown==3.3.6
numpy==1.22.3
olefile==0.46
ordereddict==1.1
protobuf==3.20.0
psycopg2==2.9.3
Pygments==2.11.2
pylibmc==1.6.1
pyOpenSSL==22.0.0
PyQt5==5.15.6
PySide2==5.15.2.1
PySide6==6.2.4
python_memcached==1.59
pywatchman==1.4.1
PyYAML==6.0
sets==0.3.2
tblib==1.7.0
typing_extensions==4.1.1
uritemplate==4.1.1
zipp==3.8.0
